.article {
  width: 30%;
  margin: 0 calc(10% / 3 / 2) 1rem;
  border-top: 1rem solid $accentColor;
  background: $mainColor;
}

.article-card-title {
  font-size: 1rem;
  color: $spotColor;
}

.article-card-created {
  font-size: .7rem;
  color: $mediamColor;
}

.article-created {
  float: right;
  margin-bottom: 1rem;
  color: $mediamColor;
}

.article-title {
  font-size: 1.5rem;
  color: $spotColor;
}

.article-parag {
  color: $spotColor;
}

.article-header {
  display: flex;
  align-items: center;
}

.article-head {
 padding: .5rem;
}

.article-body {
  padding: .5rem;
}

.article-foot {
  padding: .5rem;
  border-top: 1rem solid $mediamColor;
}

.article-tags {
  padding: 1.5rem 0;
}

.article-tags-title {
  padding-bottom: .5rem;
  color: $mediamColor;
}

@media screen and (max-width: 769px) {
  .article {
    width: 100%;
    margin: 1rem 0;
  }

  .article-head {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .article-card-title {
    margin-right: 2rem;
  }

  .article-body {
    padding: 1rem;
    border-top: .5rem solid $mediamColor;
  }
}
