.article {
  width: 30%;
  margin: 0 calc(10% / 3 / 2) 1rem;
  border-top: 1rem solid $accentColor;
  background: $mainColor;
}

.article-created {
  margin-bottom: 1rem;
  color: $mediamColor;
}

.article-title {
  font-size: 1.5rem;
  color: $spotColor;
}

.article-parag {
  color: $spotColor;
}

.article-head {
 padding: .5rem;
}

.article-body {
  padding: .5rem;
}

.article-foot {
  padding: .5rem;
  border-top: 1rem solid $mediamColor;
}

@media screen and (max-width: 769px) {
  .article {
    width: 100%;
    margin: 1rem 0;
  }
}
