.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem 0;
  background: $mainColor;
}

.footer-copy {
  font-size: .7rem;
  color: $mediamColor;
}