.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.header-home-title {
  width: 40vw;
  font-size: 2rem;
  border-bottom: 1px solid;
  color: $accentColor;
}

.header-home-parag {
  color: $mediamColor;
}

.header-nav {
  width: 40vw;
}

.header-nav-list {
  display: flex;
  text-align: center;
  background: $mainColor;
}

// admin=====
.admin-header-nav-list {
  background: none;
}
// =====

.header-nav-list-item {
  width: calc(100% / 3);
}

.header-nav-list-item:hover {
  background: $baseColor;
}

// admin=====
.admin-header-nav-list-item:hover {
  background: $mediamColor;
}
// =====

.header-nav-list-item-link {
  padding: 1rem 0;
  color: $accentColor;
}

.header-nav-list-item-link:hover {
  color: $accentColor;
}

@media screen and (max-width: 769px) {
  .header-home {
    width: 100%;
  }

  .header-home-title {
    width: 100%;
    padding-left: 1rem;
    font-size: 1.5rem;
  }

  .header-home-parag {
    padding-left: 1rem;
  }

  .header-nav {
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 3.2rem;
    border-top: 1px solid $baseColor;
  }

  .header-nav-list-item-link {
    padding: .4rem;
    font-size: .4rem;
  }
}

@media screen and (max-width: 370px) {
  .header-home-title {
    font-size: 1.3rem;
  }

  .header-home-parag {
    font-size: .7rem;
  }
}
