.markdown {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
  border-top: 1px solid $mediamColor;
  color: $spotColor;
  letter-spacing: .2rem;
  line-height: 2;

  .main-image {
    margin-bottom: 3rem;
  }

  li {
    list-style-type: circle;
  }

  h1, h2, h3, h4, h5, {
    padding-left: .5rem;
    font-weight: bold;
    border-left: 1rem solid $accentColor;
    border-bottom: 1px solid $accentColor;
    margin: 1rem 0 3rem;
  }

  p {
    padding-bottom: 2rem;
  }

  img {
    max-width: 100%;
  }
}
