.side-content {
  margin-bottom: 2rem;
  padding: 1rem;
  background: $mainColor;
}

.side-content-title {
  color: $spotColor;
}

.side-content-nav {
  margin-bottom: 1rem;
  padding: 1rem;
  background: $baseColor;
}

.side-content-nav-title {
  color: $mediamColor;
}