.admin-body {
  background: $spotColor;
}

table {
  width: 100%;
  font-size: 1rem;
  border: 2rem solid $mediamColor;
}

td {
  min-width: 100px;
  word-wrap: break-word;
}

a.btn, a.btn:link, a.btn:visited {
  color: $whiteColor;
}

td img {
  width: 100%;
}