body {
  background: $baseColor;
}

.container {
  width: $containerWidth;
  margin: 0 auto;
}

.breadcrumb {
  margin-bottom: 2rem;
  color: $mediamColor;
}

.side {
  width: 25%;
}

.main {
  width: 70%;
  padding: 1rem;
  background: $mainColor;
}

.main-section {
  margin-bottom: 2rem;
  padding: 1rem;
  background: $baseColor;
}

.main-section-title {
  color: $spotColor;
}

.main-section-parag {
  margin-bottom: 1rem;
  color: $mediamColor;
}