body {
  background: $baseColor;
  height: 100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.container {
  width: $containerWidth;
  margin: 0 auto;
}

.breadcrumb {
  margin-bottom: 2rem;
  color: $mediamColor;
}

.side {
  float: left;
  width: 25%;
}

.main {
  float: right;
  width: 70%;
  padding: 1rem;
  background: $mainColor;
}

.main-section {
  margin-bottom: 2rem;
  padding: 1rem;
  background: $baseColor;
}

.main-section-title {
  color: $spotColor;
}

.main-section-parag {
  margin-bottom: 1rem;
  color: $mediamColor;
}

.hidden-icon {
  display: none;
}


@media screen and (max-width: 769px) {
  body {
    padding-bottom: 3.2rem;
  }

  .container {
    width: 100%;
  }

  .main {
    width: 100%;
    padding: 1rem;
  }

  .side {
    width: 100%;
  }

  .fa {
    display: inline-block;
  }

  .fa::before {
    display: block;
    font-size: 1.5rem;
  }
}