body {
  background: $baseColor;
}

.container {
  width: $containerWidth;
  margin: 0 auto;
}

.breadcrumb {
  margin-bottom: 2rem;
  color: $mediamColor;
  font-size: 1.5rem;
}

.side {
  width: 25%;
}

.main {
  width: 70%;
  background: $mainColor;
}

.main-section {
  background: $baseColor;
}

.main-section-title {
  font-size: 1.5rem;
  color: $spotColor;
}

.main-section-parag {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: $mediamColor;
}

.btn {
  padding: 1rem;
  font-size: 1.5rem;
  color: $baseColor;
  background: $accentColor;
  border-radius: 1rem;
}