// 要素のきりかえ
.block {
  display: block;
}

.inline {
  display: inline;
}


// flex関連
.flex {
  display: flex;
}

.j-center {
  justify-content: center;
}

.j-bet {
  justify-content: space-between;
}

.j-around {
  justify-content: space-around;
}

.a-base {
  align-items: baseline;
}

.a-center {
  align-items: center;
}


// h系の統一
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 2rem;
}


// float関連
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.clear {
  clear: both;
}

// vw,vh設定
// vw
.vw10 {
  width: 10vw;
}

.vw20 {
  width: 20vw;
}

.vw30 {
  width: 30vw;
}

.vw40 {
  width: 40vw;
}

.vw50 {
  width: 50vw;
}

.vw60 {
  width: 60vw;
}

.vw70 {
  width: 70vw;
}

.vw80 {
  width: 80vw;
}

.vw90 {
  width: 90vw;
}

.vw100 {
  width: 100vw;
}


// vh
.vh10 {
  height: 10vh;
}

.vh20 {
  height: 20vh;
}

.vh30 {
  height: 30vh;
}

.vh40 {
  height: 40vh;
}

.vh50 {
  height: 50vh;
}

.vh60 {
  height: 60vh;
}

.vh70 {
  height: 70vh;
}

.vh80 {
  height: 80vh;
}

.vh90 {
  height: 90vh;
}

.vh100 {
  height: 100vh;
}


// padding
// rem
.p1rem {
  padding: 1rem;
}

.p2rem {
  padding: 2rem;
}

.p3rem {
  padding: 3rem;
}

.p4rem {
  padding: 4rem;
}

.p5rem {
  padding: 5rem;
}


// margin
// 0
.m0 {
  margin: 0;
}


// rem
.m1rem {
  margin: 1rem;
}

.m2rem {
  margin: 2rem;
}

.m3rem {
  margin: 3rem;
}

.m4rem {
  margin: 4rem;
}

.m5rem {
  margin: 5rem;
}

.mt1rem {
  margin-top: 1rem;
}

.mt2rem {
  margin-top: 2rem;
}

.mt3rem {
  margin-top: 3rem;
}

.mt4rem {
  margin-top: 4rem;
}

.mt5rem {
  margin-top: 5rem;
}

.mb1rem {
  margin-bottom: 1rem;
}

.mb2rem {
  margin-bottom: 2rem;
}

.mb3rem {
  margin-bottom: 3rem;
}

.mb4rem {
  margin-bottom: 4rem;
}

.mb5rem {
  margin-bottom: 5rem;
}

.mr1rem {
  margin-right: 1rem;
}

.mr2rem {
  margin-right: 2rem;
}

.mr3rem {
  margin-right: 3rem;
}

.mr4rem {
  margin-right: 4rem;
}

.mr5rem {
  margin-right: 5rem;
}


// text-align系
.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}