// 基本情報
$containerWidth: 1024px; //のちにレスポンシブ対応する

// 配色
// ベース、メイン、アクセント、スポット
$baseColor: #222831;
$mainColor: #393e46;
$accentColor: #49bcbc;
$spotColor: #dddddd;

// 明度管理
$mediamColor: #888888;

// 透明色
$clearColor: rgba(0, 0, 0, 0);

// 白
$whiteColor: #ffffff;
