// reset_css
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html,
body {
  font-size: 16px;
}

li {
  list-style: none;
  list-style-position: inside;
  font-family: "Hiragino Kaku Gothic Pro", YuGothic, sans-serif;
}

a {
  text-decoration: none;
  color: $accentColor;
}

a:hover {
  text-decoration: none;
}

input {
  padding: .7rem;
  outline: none;
  border: none;
}

address {
  font-style: normal;
}

button {
  border: none;
  background: #fff;
}
